<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Game Store</title>
</head>
<body>
    <div style="height: 100px;">
        <%- include('navbar') %>
    </div>
    <% if (msg) { %>
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <%= msg %> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% } %>
    
    <h1 style="text-align: center;">Dashboard</h1>

    <div class="d-flex justify-content-center">
        <div class="cards">
            <% for(i in data) { %>
            <div class="card">
                    <h3 style="text-align: center;"><%= data[i].name %></h3>
                <div class="card-body">
                    <div class="btnpanel">
                    <a href="/products/<%= data[i].id %>" class="btn btn-primary">See Product</a>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <style>
    .cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    height: 100%;
  }

  .card{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;

  }

  .card-body{
    height: 100px;
  }

  .btnpanel{
    text-align: center;
    width: inherit;
    height: 100px;
  }
    </style>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>z
</body>
</html>