<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Store</title>
</head>
<body>
    
    <h1>Dashboard</h1>
    <div>
        <a href="/users/logout">Logout</a>
    </div>

    <div>
        <table border="2">
            <thead>
                <th>Game</th>
                <th>Product</th>
            </thead>
            <tbody>
                <% dataGame.forEach(el => { %>
                 <tr>
                     <td><%= el['name'] %> </td>
                     <td>
                         <a href="/products/<%= el['name'] %>-<%= el['id'] %>">See Product</a>
                     </td>
                 </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

</body>
</html>