<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="navbar" style="margin-top: 0;">
      <div class="brand">
        <a class="navbar-brand" id="brand" href="#">queenfox</a>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/"><b>HOME</b> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b>CHECKOUT</b> <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
      <div class="icons row">
        <div class="dropdown" style="margin-right: 20px;">
          <a href="#" style="font-size:24px" class="usericon"><i class="material-icons" id="user-btn">shopping_cart</i></a>
          <div class="dropdown-content-cart">
            <a href="/carts"><b>MY CART</b></a>
          </div>
        </div>
        <div class="dropdown-user">
          <a href="#" style="font-size:24px" class="usericon"><i class="material-icons" id="user-btn">person</i></a>
          <div class="dropdown-content-user">
            <a href="/carts/top-up"><b>TOP UP</b></a>
            <a href="/users/logout"><b>LOGOUT</b></a>
          </div>
        </div>
    </div>
    </nav>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
#brand {
  font-size: 32px;
  font-family: 'Cinzel Decorative', cursive;
}
#navbar {
  margin-top: 25px;
  position: fixed;
}
.glyphicon.glyphicon-list {
  /* font-size: 25px; */
  margin-top: -2px;
  margin-right: -1px;
}
/* Style The Dropdown Button */
.dropbtn {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-left: 30px;
  margin-top: -5px;
  border-radius: 50px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-user{
  margin-right: 25px;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content-user {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-right: 20px;
}
.dropdown-content-cart {
  display: none;
  position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content-user a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content-cart a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(51, 153, 51);
}
.dropdown-content-user a:hover {
  background-color: rgb(51, 153, 51);
}
.dropdown-content-cart a:hover {
  background-color: rgb(51, 153, 51);
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-user:hover .dropdown-content-user{
  display: block;
}
.dropdown:hover .dropdown-content-cart{
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #000000;
  color: rgb(255, 255, 255);
}
.usericon {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  color: black;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: -5px;
  border-radius: 50px;
  width: 35px;
}
.usericon:hover {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.icons {
  margin-right: 25px;
}
#navbarNav a {
  color: white;
}
#navbarNav a:hover {
  color: orangered;
}
.navbar-brand:hover {
  color: orangered;
}
#user-dropwdown{
  margin-right: 50px;
}

    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
    