<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top up</title>
</head>
<body>
    <form action="/carts/top-up" method="post">
        <label for="topup">Top Up</label><br>
        <select name="topup" >
            <option value="50000">50000</option>
            <option value="100000">100000</option>
            <option value="150000">150000</option>
            <option value="250000">250000</option>
            <option value="500000">500000</option>
            <option value="1000000">1000000</option>
        </select><br><br>

        <input type="submit" value="Top Up">
    </form>
</body>
</html>